<div class="section-header">
  <h2 class="section-header__title">WebPack Boilerplate</h2>
  <p class="section-header__text">
    The WebPack Boilerplate is for beginning developers who want to understand 
    how the webpack works on web pages. If you have already used Angular, VueJS 
    and ReactJS you should know that they use this tool, but already configured. 
    Understanding how the webpack works makes us more secure in developing our 
    apps with these frameworks.
  </p>
</div>